.chart-bar {
    -fx-bar-width: 5000px;
}

.default-color0.chart-bar {
    -fx-bar-fill: #5E4410;
    -fx-bar-width: 40px;
}
.default-color1.chart-bar {
    -fx-bar-fill: #29B1F5;
    -fx-bar-width: 40px;
}
.default-color3.chart-bar{
    -fx-bar-fill: #891818;
    -fx-bar-width: 40px;
}
.default-color4.char-bar{
    -fx-bar-fill: #EECF57;
    -fx-bar-width: 40px;
}
.default-color5.chart-bar{
    -fx-bar-fill: #E9CE1D;
    -fx-bar-width: 40px;

}